@tailwind base;
@tailwind components;
@tailwind utilities;

.simple-keyboard {
  max-width: 450px;
}

.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  color: white;
  text-transform: uppercase;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: rgba(202 138 4);
  color: black;
}

#root .simple-keyboard.myTheme1+.simple-keyboard-preview {
  background: rgba(202 138 4);
}
