@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.simple-keyboard {
  max-width: 450px;
  max-height: 450px;
  margin: 10px;
  padding: 20px;
}

.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  color: white;
  text-transform: uppercase;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: rgba(202 138 4);
  color: black;
}

#root .simple-keyboard.myTheme1+.simple-keyboard-preview {
  background: rgba(202 138 4);
}